.containerPrincipalReceipt{
    margin: 40px auto !important;
    width: 500px;
    display: grid;
    background-color:#ffffff;
    border-radius: 20px;
    place-items: center;
}
  
  @media (max-width: 640px) {
   
    .containerPrincipalReceipt {
  
        margin: 38px auto!important;
        width: auto;
    }
  }
.content{
    width: -webkit-fill-available;
}
.header {
    display: flex;
    flex-direction: row;
    place-content: space-between;
    width: -webkit-fill-available;
    margin: 10px;
}

.blue-header {
    display: flex;
    flex-direction: row;
    place-content: space-between;
    background: rgb(51, 43, 207);
    padding: 15px;
    width: -webkit-fill-available;
}

.space-between {
    display: flex;
    flex-direction: row;
    place-content: space-between;
}

.padding-right {
    padding-right: 20px;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 16px;
    width: -webkit-fill-available;
}

.flex div {
    padding-right: 15px;
}


.space-between p {
    color: white;
}

.width-40px{
    width: 40px;
}

.width-180px{
    width: 180px;
}

.margin-left-2{
    margin-left: 2%;
}